[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dvc = "*"
typer = "*"
scikit-learn = "*"
pandas = "*"

[dev-packages]
visiumlint = "*"

[requires]
python_version = "3.11"
